@import 'nib'
@import './button'

WHITE = rgb(255, 255, 255)

GRAY_HIGHLIGHT = rgb(240, 240, 240)
GRAY_LIGHTEST = rgb(220, 220, 220)
GRAY_LIGHT = rgb(200, 200, 200)
GRAY = rgb(100, 100, 100)
BLACK = rgb(30, 30, 30)

BLUE_DARKEST = rgb(17, 74, 86)
BLUE_DARK = rgb(1, 82, 99)
BLUE = rgb(0, 158, 179)
BLUE_LIGHT = rgb(208, 255, 255)

RED_LIGHT = rgb(232, 74, 62)
RED = rgb(180, 35, 8)

HIGHLIGHT = rgb(250, 250, 220)

SCROLLBAR_TRACK = transparent
SCROLLBAR_THUMB_DARKEN  = rgba(0,0,0,0.175)
SCROLLBAR_THUMB_LIGHTEN = rgba(255,255,255,0.175)

SIDEBAR_WIDTH = 190px
FRIENDS_LOGO_HEIGHT = 70px
SIDEBAR_BOTTOM_HEIGHT = 61px

AVATAR_SIZE = 35px
AVATAR_SIZE_SMALL = 18px

BORDER_RADIUS = 5px

FONT_SIZE_BIG = 20px
FONT_SIZE = 15px
FONT_SIZE_SMALL = 12px

TOP_BAR_HEIGHT = 45px

SPACING_SIZE = 10px



html, body
  margin: 0
  padding: 0
  height: 100%
  overflow: hidden

h1, h2, h3, h4, h5, h6
  margin: 0.1em 0
h1
  font-size: 1.5em
h2
  font-size: 1.3em
h3
  font-size: 1.1em
h4
  font-size: 0.9em
h5
  font-size: 0.7em
h6
  font-size: 0.5em
ul
  -webkit-padding-start: 20px

body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: FONT_SIZE