$fa-font-path: "fonts" !default;

@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/materialize-css/sass/materialize';

@import 'colors';
@import 'fonts';

@import 'components/titlebar';
@import 'components/main-content';


body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.fa {
  padding-right: 5px;
}

